<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto JS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/public/css/styles.css">  
</head>
<header>
  <div class="logo">
    <img src="/public/images/logo.png" alt="Logo">
  </div>
     <nav>
	<a href="/">inicio</a>
	<a href="/views/product.html">Productos</a>
	
	<a href="#">Contacto</a>
	
	<div class="animation start-home"></div>
</nav>
  <button class="menu-toggle">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</header>
<div id="loading">
  <i class="fas fa-spinner fa-spin"></i>
</div>


<body>
    <div id="contenedor_carga">
        <div id="carga"></div>
    </div>

<div class="img-contacto">
    <img src="/public/images/Productos/mieldetandil.png" alt="#">
</div>
<div class="text-imgcontacto">
    <h3>Exportación de miel Honey export</h3>
    <button class="button-wsp"><a href="https://wa.me/+5493413365209?text= Hola! Me comunico por el producto de JsDistribuidora...Me podrían dar mas informacion?!gracias">WhatsApp</button>
</div>


<script>
    window.onload = function () {
        let contenedor = document.getElementById("contenedor_carga");
        contenedor.style.visibility = "hidden";
        contenedor.style.opacity = "0";
    }
</script>
</body>


<footer>
    <div class="container-footer">
        <a href="#" class="btn">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="btn">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="btn">
            <i class="fab fa-google"></i>
        </a>
        <a href="https://instagram.com/jsdistribuidora2023?igshid=YmMyMTA2M2Y=" class="btn" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="#" class="btn">
            <i class="fab fa-youtube"></i>
        </a>
    </div>
    
</footer>

</html>