<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto JS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/styles.css">  
    
     
</head>
<header>
  <div class="logo">
    <img src="/public/images/logo.png" alt="Logo">
  </div>
     <nav>
	<a href="/">inicio</a>
	<a href="/views/product.html">Productos</a> 

	<a href="/views/contacto.html">Contacto</a>
	
	<div class="animation start-home"></div>
</nav>
  <button class="menu-toggle">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</header>

<body>
    <!--SPINNER LOADING -->

  <div id="contenedor_carga">
    <div id="carga"></div>
  </div>


   <section>
    <div class="slideshow-container">
  <div class="slide active">
    <img src="/public/images/carrusel/carrusel1.png" height="150" width="200">
  </div>
  <div class="slide">
    <img src="/public/images/carrusel/carrusel2.png" height="150" width="200">
  </div>
  <div class="slide">
    <img src="/public/images/carrusel/carrusel3.png" height="150" width="200">
  </div>
</div>
<div id="clock"></div>
<script src = "/public/script.js"></script>
   </section>
<section>
  <div class="container-medio">
    <div class="footer-container">
    <div class="column">
      <ul>
        <h3>Js Distribuidora</h3>
        <h6>Distribuimos por menor y por mayor la mejor miel del país sin TACC al mejor precio.</h6>
        <h5>Nos ubicamos en la zona centrica de la ciudad de Rosario.</h5>
      </ul>
    </div>
    <div class="column">
      <ul>
        <h3>Envíenos un correo</h3>
        <h6>lagodelfuerte@gmail.com</h6>
        <h6>prontopack@gmail.com</h6>
      </ul>
    </div>
    <div class="column">
      <ul>
        <h3>Nuestros Whatsapp</h3>
        <h6>+5493413333445</h6>
        <h6>+5493414455666</h6>
      </ul>
    </div>
    </div>
    
  </div>
  </div>
</section>

<section>
  <div class="image-container">
  <img src="/public/images/imagen5.jpeg" alt="Producto 2" height="250" width="200">
  <img src="/public/images/imagen4.jpeg" alt="Producto 1" height="250" width="200">
  <img src="/public/images/imagen6.jpeg" alt="Producto 3" height="250" width="200">
  <img src="/public/images/imagen7.jpeg" alt="Producto 4" height="250" width="200">
  <img src="/public/images/imagen8.jpeg" alt="Producto 5" height="250" width="200">
  <img src="/public/images/imagen9.jpeg" alt="Producto 5" height="250" width="200">
  <img src="/public/images/imagen10.jpeg" alt="Producto 5" height="250" width="200">
  <img src="/public/images/imagen11.jpeg" alt="Producto 5" height="250" width="200">
</div>
</section>
<section>
  <div class="maps">
  <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d497.738556081035!2d-60.64072687660241!3d-32.94117237846235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1679368508679!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>
<section>
 <form class="form" action="https://formspree.io/f/xdovpdvr"
  method="POST">
  <div>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre">
    <p id="nombre-error" class="error" style="display:none;"></p>
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email">
    <p id="email-error" class="error" style="display:none;"></p>
  </div>
  <div>
    <label for="consulta">Consulta:</label>
    <textarea id="consulta" name="consulta"></textarea>
    <p id="consulta-error" class="error" style="display:none;"></p>
  </div>
  <div class="button">
    <button type="submit" id="sendButton">Enviar</button>
    <button type="reset">Cancelar</button>
  </div>
  <div class="popup">
    <div class="popup-content">
      <img src="/public/images/check.png">
      <h2>Muchas gracias!</h2>
      <p>Su consulta fue enviada con éxito!</p>
      
      <button type="button" id="okButton">OK</button>
      
    </div>
  </div>
</form>
  <script src="/public/popup.js"></script>
  <script src="/public/validation.js"></script>
</section>
<script>
  window.onload = function(){
    let contenedor = document.getElementById("contenedor_carga");
    contenedor.style.visibility = "hidden";
    contenedor.style.opacity = "0";
  }
</script>
</body>
<footer>
    <div class="container-footer">
        <a href="#" class="btn">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="btn">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="btn">
            <i class="fab fa-google"></i>
        </a>
        <a href="https://instagram.com/jsdistribuidora2023?igshid=YmMyMTA2M2Y=" class="btn" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="#" class="btn">
            <i class="fab fa-youtube"></i>
        </a>
    </div>
    
</footer>

</html>
