<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto JS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/public/css/product.css">  
    
     
</head>
<header>
  <div class="logo">
    <img src="/public/images/logo.png" alt="Logo">
  </div>
     <nav>
	<a href="/">inicio</a>
	<a href="/views/product.html">Productos</a>

	<a href="/views/contacto.html">Contacto</a>
	
	<div class="animation start-home"></div>
</nav>
  <button class="menu-toggle">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</header>
<body>
  <div id="contenedor_carga">
    <div id="carga"></div>
  </div>
  <section>
    <h1 class="title-efect" style="--duration: 1s ">
      <span style="--delay: 0.5s">JS Distribuidora</span>
      <span style="--delay: 0.8s">Envíos a cualquier parte del país</span>
    </h1>
  </section>
  <hr>
    <section class="container">
  <h2 class="title">
    <span class="primary">Nuestros Productos</span>
    <span class="secondary"></span>
  </h2>
  <div class="gallery-wrapper">
    
    <figure class="gallery-item">
      <img src="/public/images/imagen.jpeg" alt="" class="item-image" />
      <figcaption class="item-description">
        <h2 class="name">Jane Doe</h2>
        <span class="role">Marketing</span>
      </figcaption>
    </figure>
    <figure class="gallery-item">
      <img src="/public/images/imagen1.jpeg" alt="" class="item-image" />
      <figcaption class="item-description">
        <h2 class="name">John Doe</h2>
        <span class="role">Finance</span>
      </figcaption>
    </figure>
    <figure class="gallery-item">
      <img src="/public/images/imagen3.jpeg" alt="" class="item-image" />
      <figcaption class="item-description">
        <h2 class="name">Jane Doe</h2>
        <span class="role">Human resources</span>
      </figcaption>
    </figure>
  </div>
    </section>

    <!--ARTICULO 1 -->
    
    <article class="card">
      <div class="card__publication">
        <img src="/public/images/Productos/WhatsApp Image 2023-03-27 at 15.33.40.jpeg" alt="" >
        <div>
          <span class="card__author">
            <i class="ri-user-line"></i> Julio Codes
          </span>
          <span class="card__date">
            <i class="ri-calendar-line"></i> October 30, 2022
          </span>
        </div>
      </div>
      <div class="card__info">
        <h2 class="card__title">Snack con Queso</h2>
        <span class="card__subtitle">Samurai</span>
        <p class="card__description">
          Ingredientes
          Clara de huevo, trigo sarraceno, arroz, whey protein, sorgo blanco, quínoa, queso en polvo, sal.
          Alimento a base de proteínas de clara de huevo, suero de queso y cereales
          Categoría: Queso
        </p>
        <a href="https://wa.me/+5493413365209?text=Hola!Me comunico por el producto de JsDistribuidora...Me podrían dar mas informacion?! "
          target="_blank" class="card__cta">
          Quiero este producto <span>&rarr;</span>
        </a>
      </div>
    </article>

    <!--ARTICULO 2 ---------------------------->

    <article class="card">
      <div class="card__publication">
        <img src="/public/images/Productos/WhatsApp Image 2023-03-27 at 15.33.41 (1).jpeg" alt="">
        <div>
          <span class="card__author">
            <i class="ri-user-line"></i> 
          </span>
          <span class="card__date">
            <i class="ri-calendar-line"></i> 
          </span>
        </div>
      </div>
      <div class="card__info">
        <h2 class="card__title">Snack con Semillas y Cacao</h2>
        <span class="card__subtitle">Samurai</span>
        <p class="card__description">
          Ingredientes
          Clara de huevo, trigo sarraceno integral, arroz, whey protein, sorgo blanco integral, quínoa, amaranto, cacao amargo,
          leche descremada en polvo, sucralosa.
          
          Categoría: Semillas y Cacao
          Etiquetas: Cacao, Ovo-Snack, Semillas
        </p>
        <a href="https://wa.me/+5493413365209?text=Hola!Me comunico por el producto de JsDistribuidora...Me podrían dar mas informacion?! "
          target="_blank" class="card__cta">
        Quiero este producto <span>&rarr;</span>
        </a>
      </div>
    </article>

    <!--ARTICULO 3 ---------------------------->


    <article class="card">
      <div class="card__publication">
        <img src="/public/images/imagen8.jpeg" alt="">
        <div>
          <span class="card__author">
            <i class="ri-user-line"></i> 
          </span>
          <span class="card__date">
            <i class="ri-calendar-line"></i> 
          </span>
        </div>
      </div>
      <div class="card__info">
        <h2 class="card__title">Miel Cremosa</h2>
        <span class="card__subtitle">Lago del Fuerte</span>
        <p class="card__description">
          Miel Lago del Fuerte, directa de Tandil, el lugar ideal para la cría de abejas. Su clima, flora y el marco natural de
          las sierras más antiguas del mundo, permite lograr una miel única, de alta calidad, con notas particulares de la zona.
          
          ¡Es 100% natural!, sin aditivos
        </p>
        <a href="https://wa.me/+5493413365209?text=Hola!Me comunico por el producto de JsDistribuidora...Me podrían dar mas informacion?! "
          target="_blank" class="card__cta">
          Quiero este producto <span>&rarr;</span>
        </a>
      </div>
    </article>

<!--ARTICULO 4 ---------------------------->

    <article class="card">
      <div class="card__publication">
        <img src="/public/images/imagen7.jpeg" alt="">
        <div>
          <span class="card__author">
            <i class="ri-user-line"></i> 
          </span>
          <span class="card__date">
            <i class="ri-calendar-line"></i> 
        </div>
      </div>
      <div class="card__info">
        <h2 class="card__title">Miel Cremosa Saborizada</h2>
        <span class="card__subtitle">Lago del Fuerte</span>
        <p class="card__description">
          Miel cremosa con almendras, Miel cremosa con dulce de leche, Miel cremosa con frutilla, Miel cremosa con limón, Miel
          cremosa con maní, Miel cremosa con naranja, Miel cremosa con nuez
        </p>
        <a href="https://wa.me/+5493413365209?text=Hola!Me comunico por el producto de JsDistribuidora...Me podrían dar mas informacion?! "
          target="_blank" class="card__cta">
          Quiero este producto <span>&rarr;</span>
        </a>
      </div>
    </article>

    <!--ARTICULO 5 ---------------------------->


    <article class="card">
      <div class="card__publication">
        <img src="/public/images/imagen1.jpeg" alt="">
        <div>
          <span class="card__author">
            <i class="ri-user-line"></i> 
          </span>
          <span class="card__date">
            <i class="ri-calendar-line"></i> 
          </span>
        </div>
      </div>
      <div class="card__info">
        <h2 class="card__title">Miel Honey</h2>
        <span class="card__subtitle">Lago del Fuerte </span>
        <p class="card__description">
          Miel Lago del Fuerte, directa de Tandil, el lugar ideal para la cría de abejas. Su clima, flora y el marco natural de
          las sierras más antiguas del mundo, permite lograr una miel única, de alta calidad, con notas particulares de la zona.
          
          ¡Es 100% natural!, sin aditivos
          
          Material de envase: plástico
          
          Conseguila en sus frascos de 1 kg, ½ kg y ¼ kg
        </p>
        <a href="https://wa.me/+5493413365209?text=Hola!Me comunico por el producto de JsDistribuidora...Me podrían dar mas informacion?! "
          target="_blank" class="card__cta">
          Quiero este producto <span>&rarr;</span>
        </a>
      </div>
    </article>

    <!--ARTICULO 6 ---------------------------->
    
    
    <article class="card">
      <div class="card__publication">
        <img src="/public/images/Productos/WhatsApp Image 2023-03-27 at 15.33.43.jpeg" alt="">
        <div>
          <span class="card__author">
            <i class="ri-user-line"></i> 
          </span>
          <span class="card__date">
            <i class="ri-calendar-line"></i> 
          </span>
        </div>
      </div>
      <div class="card__info">
        <h2 class="card__title">Yerba Mate Indumar</h2>
        <span class="card__subtitle">Indumar</span>
        <p class="card__description">
          Proveniente de cultivos originarios de la zona centro de Misiones, en su sabor tradicional, la yerba mate canchada es
          molida alcanzando una equilibrada textura, luego de un mínimo de 12 meses de maduración natural en estacionamiento, es
          seleccionada con el mayor cuidado para obtener un producto que ofrece un mate de reconocible expresión y genuina
          personalidad, de matices intensos que se descubren en un suave y rico sabor final. Ideal para aquellos que toman mate
          con mucha frecuencia y gustan de la experiencia de sabores suaves, prolongados y duraderos.
        </p>
        <a href="https://wa.me/+5493413365209?text=Hola!Me comunico por el producto de JsDistribuidora...Me podrían dar mas informacion?! "target="_blank" class="card__cta">
          Quiero este producto <span>&rarr;</span>
        </a>
      </div>
    </article>


    <!------------------PDF ---------------------------->


  <button class="button-pdf"><a href="/public/images/CATÁLOGO.pdf" download>Descargar Catalogo</a></button>
  <script>
    window.onload = function () {
      let contenedor = document.getElementById("contenedor_carga");
      contenedor.style.visibility = "hidden";
      contenedor.style.opacity = "0";
    }
  </script>
</body>
<footer>
  <div class="container-footer">
    <a href="#" class="btn">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="#" class="btn">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="#" class="btn">
      <i class="fab fa-google"></i>
    </a>
    <a href="https://instagram.com/jsdistribuidora2023?igshid=YmMyMTA2M2Y=" class="btn" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="#" class="btn">
      <i class="fab fa-youtube"></i>
    </a>
  </div>

</footer>

</html>