body{
    background-color: lightslategrey;
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
header {
        display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            height: 82px;
            background-color: beige;
            /* color: #fff; */
            /* margin-top: 2px; */
        
}
#loading {
    display: none;
}
.logo img {
    height: 100px;
    width: auto;
}

 nav {
        /* margin: 27px auto 0; */
            position: relative;
            width: 590px;
            height: 50px;
            background-color: beige;
            border-radius: 9px;
            font-size: 0;
            font-family: 'Nunito Sans', sans-serif;
 }

 nav a {
     line-height: 50px;
     height: 100%;
     font-size: 15px;
     display: inline-block;
     position: relative;
     z-index: 1;
     text-decoration: none;
     text-transform: uppercase;
     text-align: center;
     color: black;
     cursor: pointer;
 }

 nav .animation {
     position: absolute;
     height: 100%;
     top: 0;
     z-index: 0;
     transition: all .5s ease 0s;
     border-radius: 8px;
 }

 a:nth-child(1) {
     width: 100px;
 }

 a:nth-child(2) {
    width: 130px;
 }

 a:nth-child(3) {
    width: 130px;
 }

 a:nth-child(4) {
    width: 130px;
 }

 a:nth-child(5) {
     width: 130px;
 }

 nav .start-home,
 a:nth-child(1):hover~.animation {
     width: 100px;
     left: 0;
     background-color: #1abc9c;
 }

 nav .start-about,
 a:nth-child(2):hover~.animation {
    width: 130px;
     left: 100px;
     background-color: #e74c3c;
 }

 nav .start-blog,
 a:nth-child(3):hover~.animation {
    width: 130px;
     left: 230px;
     background-color: #3498db;
 }

 nav .start-portefolio,
 a:nth-child(4):hover~.animation {
    width: 130px;
     left: 355px;
     background-color: #9b59b6;
 }

 nav .start-contact,
 a:nth-child(5):hover~.animation {
    width: 130px;
     left: 470px;
     background-color: #e67e22;
 }

/* Estilos para pantallas pequeñas */

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        height: 164px
    }
        .footer-container {
            display: flex;
            /* width: 105%; */
            height: 1000px;
            max-height: 52%;
            background-color: beige;
            margin-top: -100px;
            margin-left: -43px;
            margin-right: -44px;
            margin-bottom: -88px;
            flex-direction: column;
            align-items: flex-start;
        }

    .logo {
        margin-bottom: 20px;
    }

    nav {
        display: none;
        width: 100%;
        text-align: center;
    }

    .menu-toggle {
        display: block;
        background-color: #333;
        color: #fff;
        border: none;
        font-size: 1.5rem;
        padding: 10px;
        cursor: pointer;
    }

    .menu-toggle .icon-bar {
        display: block;
        height: 3px;
        width: 25px;
        margin-bottom: 5px;
        background-color: #fff;
    }

    .menu-toggle.active+nav {
        display: block;
    }
}
/*carrusel*/

.slideshow-container {
    position: relative;
    
}

.slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.slide.active {
    display: block;
}

.slide img {
   
display: block;
    margin: 0px auto;
    max-width: 102%;
    width: 100%;
    height: 487px;
    
}

/*footer*/
.container-footer {
position: relative;
    bottom: -100px;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    margin-bottom: -27px;
}

.container-footer .btn {
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #fff;
    box-shadow: 0 5px 15px -5px #aaa;
    margin: 10px;
    border-radius: 30%;
    overflow: hidden;
    position: relative;
    color: #42d2ff;
}

.container-footer .btn i {
    position: relative;
    z-index: 4;
    line-height: 90px;
    font-size: 26px;
    transition: 0.3s ease-in-out;
}

.container-footer .btn::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: linear-gradient(#00c6ff, #0072ff);
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.container-footer .btn:hover {
    color: #fff;
    transform: scale(1.3);
}

.container-footer .btn:hover::before {
    animation: onHover 0.7s 1;
    left: -10%;
    top: -10%;
}

@keyframes onHover {
    0% {
        left: -110%;
        top: 90%;
    }

    50% {
        left: 10%;
        top: -30%;
    }

    100% {
        top: -10%;
        left: -10%;
    }
}

.button-container {
    position: relative;
    width: 200px;
    height: 50px;
}

#my-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.loading-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('loading.gif');
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
}
.container-medio{
        padding: 98px 45px 86.5px !important;
            min-width: 0 !important;
            text-align: center !important;
            margin: 470px 0 0 !important;
            background-color: black;
        }
.footer-container {
 display: flex;
    flex-direction: row;
    /* width: 105%; */
    height: 247px;
    background-color: beige;
    margin-top: -100px;
    flex-wrap: nowrap;
    margin-left: -43px;
    margin-right: -44px;
    margin-bottom: -88px;
    justify-content: flex-start;
}

.column {
        width: 25.333%;
            font-size: 20px;
            color: sienna;
            padding-left: 27px;
            padding-right: 32px;
            font-family: 'Nunito Sans', sans-serif;
        }


.column h3 {
    font-size: 24px;
    font-weight: 800;
    font-family: 'Nunito Sans', sans-serif;


}

.column h6 {
    font-size: 14px;
    font-weight: normal;
}

.column h5 {
    font-size: 14px;
    font-weight: bold;
}
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 25%;
    max-width: 300px;
    margin: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.image-container img:hover {
    transform: scale(1.1);
    /* aumenta el tamaño de la imagen en un 10% */
}
@media only screen and (max-width: 768px) {
    .image-container img {
        width: 50%;
    }
}
/* Estilos para la lista de productos */
.products-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

/* Estilos para cada producto */
.products-list li {
    width: 17.33%;
        padding: 14px;
}

/* Estilos para pantallas medianas */
@media screen and (max-width: 768px) {
    .products-list li {
        width: 50%;
        /* 2 productos por fila en pantallas medianas */
    }
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 480px) {
    .products-list li {
        width: 100%;
        /* 1 producto por fila en pantallas pequeñas */
    }
}
.maps{
    border: 0;
        width: 100%;
        padding-top: 40px;
}
/*section imagenes*/


.title{
    margin-bottom: 50px;
}
.title span{
    display: block;
}
.title .primary{
    font-size: clamp(26px, 5vw, 52px);
    text-transform: uppercase;
    color: #fff;
}
.title .secundary{
    font-size: clamp(14px, 2.5vw, 16px);
    font-weight: 400;
    color: #d6d6e0;
}
.gallery-wrapper{
    display: flex;
}
.gallery-item{
    position: relative;
    isolation: isolate;
    display: flex;
    flex: 1;
    height: 500px;
    background-color: #000;
    padding: 25px;
    opacity: 1;
    overflow: hidden;
    transition: flex 0.5s, opacity 0.25s;
}
.gallery-item:hover{
    opacity: 1;
    flex: 5;
}
.gallery-item:not(:hover){
    opacity: 0.75;
}
.item-image{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item-description {
    align-self: flex-end;
    text-transform: uppercase;
    color: #fff;
}
.name {
    font-size: 37px;
    background: linear-gradient(90deg,#f32d5b,#ff009b);
    padding-inline: 10px;
    transform: translateY(-10px);
}
.role{
    display: inline-block;
    background: linear-gradient(90deg,#4136d9,#0086c7);
    padding: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(10px);
}
.name,
.role{
    opacity: 0;
    transition: opacity 0.25s, transform 0.3s;
    transition-delay: .35s;
}
.gallery-item:hover .name,
.gallery-item:hover .role {
    opacity: 1;
    transform: translateY(0);
}
.gallery-item:not(:hover) .name,
.gallery-item:not(:hover) .role {
    transition-delay: 0s;
}
@media screen and (max-width: 768px) {
    .gallery-wrapper{
        flex-direction: column;
        height: 100vh;
    }
    .gallery-item:hover{
        flex-basis: 100%;
    }
}
form {
    max-width: 500px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #ddd;
    background-color: #f7f7f7;
}
.button #sendButton{
    background-color: #333;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 10px;
}
button[type="button"],
button[type="reset"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button[type="button"]:hover,
button[type="reset"]:hover {
    background-color: #555;
}
.form{
box-shadow: 0 0 10px 5px rgb(0 0 0 / 30%);
    padding: 46px;
    display: flex;
    position: relative;
    width: 50%;
    margin-top: 41px;
    flex-direction: column;
}

.popup {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
        transform: translate(-50%, 2%) scale(1.4);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
   
    transition: transform 1s, top 1s;
}
.openPopup{
    visibility: visible;
    top: 50%;
        transform: translate(-50%, 2%) scale(1.4);
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    
}

.popup img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.popup h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.popup p {
    font-size: 18px;
    margin-bottom: 20px;
}

.popup button {
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.popup button:hover {
    background-color: #286090;
}
.error {
  display: none;
  color: red;
}

/*contacto*/
.img-contacto{
    display: flex;
    flex-direction: column;
}
.text-imgcontacto{
font-family: "Playfair Display";
color: rgb(213, 155, 0);
    display: flex;
    margin-left: 69%;
    height: 16%;
    background: white;
    position: absolute;
    justify-content: flex-end;
    bottom: 444px;
    font-family: "Playfair Display";
    font-size: 45px;
}
.button-wsp{
    background-color: rgb(213, 155, 0);
        color: #fff;
        padding: 16px 78px;
        border: none;
        border-radius: 70px;
        cursor: nesw-resize;
        /* margin-left: 45%; */
        /* top: 10px; */
        position: absolute;
        top: 315px;
        left: -3px;
        font-size: 26px;
        
}